.restaurants-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 127.5px 0px 127.5px;
    row-gap: 35px;
}

.dishes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 127.5px 0px 127.5px;
    row-gap: 35px;
}

.restaurant-dishes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 127.5px 0px 127.5px;
    row-gap: 35px;
}

.weekly-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 0px 0px 0px;
    row-gap: 40px;
}

.restaurants-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 127.5px;
}

.all-container {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
}

.all-text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.1px;
    margin: 0px;
}

.cards-container {
    display: flex;
    column-gap: 24px;
}

.restaurants-page-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
}

.restaurant-dishes-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
    column-gap: 32px;
}

.weekly-cards {
    column-gap: 16px;
}

.arrow {
    width: 40px;
    height: 40px;
    background-image: url("../../resources/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: 13px 16px;
}

.weekly-title {
    text-transform: capitalize;
}