.weekly-chef-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px 127.5px 90px;
}

.chef-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.chef-desc {
    display: flex;
}

.chef-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 378px;
    height: 338px;
}

.weekly-chef-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 478px;
    height: 372px;
    background: #000000;
}

.chef-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 78px;
    width: 378px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.weekly-chef-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 78px;
    width: 478px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.chef-week {
    display: flex;
    flex-direction: column;
}

.chef-text-container{
    width: 642px;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 0.9px;
}
