.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-menu {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}