.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    background-color: #FAFAFA;
    height: 60px;
}

.sort-button {
    display: flex;
    background-color: #FAFAFA;
}

.sort-arrow {
    background-image: url('../../resources/icons/sort.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 18px;
    padding: 11px;
}